[[26, 128, 0, "wav/snd_death.wav", "Death"], [19, 0, 0, "wav/snd_married_bros.wav", "Married Brethern"], [13, 0, 0, "wav/snd_married_sis.wav", "Married Sisters"], [6, 0, 0, "wav/snd_widowers.wav", "Widowers"], [5, 0, 0, "wav/snd_widows.wav", "Widows"], [22, 0, 0, "wav/snd_single_bros.wav", "Single Brothers"], [21, 0, 0, "wav/snd_single_sis.wav", "Single Sisters"], [20, 0, 0, "wav/snd_old_boys.wav", "Older Boys"], [16, 0, 0, "wav/snd_old_girls.wav", "Older Girls"], [12, 0, 0, "wav/snd_little_bros.wav", "Little Boys"], [7, 0, 0, "wav/snd_little_sis.wav", "Little Sisters"]]